<div [formGroup]="formGroup">
    <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Education Information</div>
    </div>
    <div class="card">
        <div class="flex flex-column gap-2">
            <label htmlFor="institutionTarget">Institution Name</label>
            <input pInputText type="text" id="institutionTarget" formControlName="institution" autofocus
                title="Put the school where you studied." placeholder="Put the school where you studied."
                aria-describedby="countryTarget-help" class="w-full mb-3" />
        </div>
        <div class="flex flex-column gap-2">
            <label htmlFor="institutionLocationTarget">Institution Location</label>
            <input pInputText type="text" id="institutionLocationTarget" formControlName="institution_Location"
                autofocus title="What is the location of the institution."
                placeholder="What is the location of the institution." class="w-full mb-4" />
        </div>
        <div class="flex flex-column gap-2">
            <label htmlFor="degreeTarget">Degree</label>
            <p-dropdown [options]="degreesList" [(ngModel)]="selectedDegree" placeholder="Select a degree"
                [editable]="true" optionLabel="label" formControlName="degrees" id="degreeTarget"
                class="w-full mb-3"></p-dropdown>
        </div>
        <div class="flex flex-column gap-2">
            <label htmlFor="FieldTarget">Field of study</label>
            <input pInputText type="text" id="FieldTarget" formControlName="field" autofocus
                title="Put the field of study that you studied or are studying."
                placeholder="Put the field of study that you studied or are studying." class="w-full mb-3" />
        </div>
        <div class="flex flex-column gap-2">
            <label htmlFor="graduationTarget">Graduation date</label>
            <p-inputMask [(ngModel)]="value" mask="99/99/9999" placeholder="mm/dd/yyyy" slotChar="mm/dd/yyyy"
                id="graduationTarget" formControlName="graduation_date" class="w-full mb-3"></p-inputMask>
        </div>
        <div class="flex flex-column gap-2">
            <p-button label="Add another study" icon="pi pi-plus"></p-button>
        </div>
    </div>
</div>